// -----------------------------------------------------------------------------
// This file contains all grid styles.
// -----------------------------------------------------------------------------

.row{
    margin: -1px !important;
}

.col-sm-12{
    padding: 0 !important;
}

#lang1{
    display: none;
}